/*RESET*/
*{

	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font-size: 100%;
	font-weight: 300;
	transition: 0.5s;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body{
	background-color: #f5f5f5;
}
ul{list-style: none}
img{max-width: 100%;}
a{text-decoration: none;}

/*------------------------------------------------------------------------------- */
/*-----------------------------|  HEADER - CABECALHO |-------------------------------------------- */
/*------------------------------------------------------------------------------- */
.cabecalho{
	width: 100%;
	display: flex;
	padding: 3% 4%;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 56px;
	height: 56px;
	font-size: 0;
	background: url(../img/logo-mobile.png) center center/56px;
}
.btn-menu{
	width: 56px;
	color: #fff;
	height: 56px;
	cursor: pointer;
	border-radius: 7px;
	background-color: #124;
}

/*------------------------------------------------------------------------------- */
/*-----------------------------| NAV - MENU  |-------------------------------------------- */
/*------------------------------------------------------------------------------- */
.menu{
	top: 0;
	left: 0;
	display: ;
	width: 100%;
	height: 100%;
	display: none;
	padding: 3% 4%;
	position: fixed;
	text-align: center;
	background-color: rgba(11,22,44,0.91);
}
.btn-close{
	width: 56px;
	color: #fff;
	height: 56px;
	float: right;
	opacity: 0.5;
	cursor: pointer;
	font-size: 2.5em;
	text-align: center;
}
.btn-close:hover{
	opacity: 1;
}
.menu ul{
	width: 100%;
	float: left;
	text-align: center;
}
.menu li{
	padding: 1.5%;
}
.menu li a{
	color: #fff;
	font-size: 2em;	
	padding: 1.5% 3%;
}
.menu li a:hover{
	border-radius: 5px;
	border: 1px solid #fff;
	background-color: #124;
}

/*------------------------------------------------------------------------------- */
/*-----------------------------|  DIV - BANNER  |-------------------------------------------- */
/*------------------------------------------------------------------------------- */
.banner{
	width: 100%;
	display: flex;
	padding: 3% 4%;
	text-align: center;
	flex-direction: column;
	background: url(../img/bg.png) fixed;
}
.title{
	flex: 100;
	color: #fff;
}
.title h2{
	font-size: 2em;
	font-weight: 700;
}
.title h3{
	font-size: 1.5em;
}
.buttons{
	flex: 100;
	margin-top: 1%;
}
.btn{
	width: 100%;
	padding: 5%;
	cursor: pointer;
	font-size: 1.5em;
	text-align: left;
	border-radius: 7px;
}
.btn-cadastrar{
	color: #124;
	background-color: #fff;
	border: 1px solid #124;

}
.btn-sobre{
	margin-top: 2%;
	color: #ffffffba;
	background-color: #124;
	border: 1px solid #ffffff70;

}
.buttons i{
	float: right;
}
.newsletter i{
	float: right;
}

/*------------------------------------------------------------------------------- */
/*-----------------------------| MAIN - SERVICOS |-------------------------------------------- */
/*------------------------------------------------------------------------------- */
.servicos{
	width: 100%;
	display: flex;
	padding: 3% 4%;
	flex-direction: column;

}
.servico{
	width: 100%;
	margin: 5px;
	border-radius: 7px;
	background-color: #fff;
}
.servico img{
	border-radius: 7px 7px 0 0;
}
.inner{
	padding: 6%;
	text-align: center;

}
.inner a{
	color: #124;
	font-size: 1.5em;
	font-weight: 700;

}
.inner h4{
	margin-top: 2%;

}
.inner p{
	margin-top: 6%;
	line-height: 1.5em;
}


/*------------------------------------------------------------------------------- */
/*-----------------------------| SECTION -NEWSLETTER |-------------------------------------------- */
/*------------------------------------------------------------------------------- */
.newsletter{
	width: 100%;
	display: flex;
	padding: 3% 4%;
	text-align: center;
	flex-direction: column;	
	background: url(../img/bg.png) fixed;

}
.newsletter h2{

 }
.newsletter h3{
	font-size: 1.2em;
 }
.newsletter form{
	flex: 100;
	margin-top: 2%;
}
.newsletter input{
	width: 100%;
	padding: 5%;
	font-size: 1.5em;
	border-radius: 7px;
	border: 1px solid #ffffff70;
	background-color: transparent;

}
.newsletter button{
	width: 100%;
	color: #fff;
	padding: 5%;
	margin-top: 2%;
	cursor: pointer;
	font-size: 1.5em;
	text-align: left;
	border-radius: 7px;
	background-color: #124;
	border: 1px solid #ffffff70;
}
.newsletter button:hover{
	color: #124;
	background-color: #ffff;
}
/*------------------------------------------------------------------------------- */
/*-----------------------------| FOOTER - RODAPÉ |-------------------------------------------- */
/*------------------------------------------------------------------------------- */
.rodape{
	color: #fff;
	width: 100%;
	display: flex;
	padding: 3% 4%;
	text-align: center;
	flex-direction: column;
	background-color: #124;
}
.rodape a{
	color: #ffffff8f;
}
.rodape a:hover{
	color: #fff;
}
.rodape p{
	margin-top: 10px;
}


/*------------------------------------------------------------------------------- */
/*--------------------------|  MEDIA TYPES - RESPONSIVIDADE  |------------------------------- */
/*------------------------------------------------------------------------------- */
/* SMAL DEVICES - SMARTPHONES */

@media screen and (min-width: 480px) {
	.logo{
		width: 214px;
		background: url(../img/logo.png) center center/214px;
	}
	
}

/*------------------------------------------------------------------------------- */
/* --------------------------------- | SMALL DEIVES - TABLETS  | -------------------*/
/*------------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
	.buttons{
		display: flex;
		flex-direction: row;
	}
	.btn{
		padding: 3%;
		margin: 0 2%;
	}
	.btn-sobre{
		margin-top: 0;
	}
	.newsletter h2{
		font-size: 2.5em;
	}
	.newsletter h3{
		font-size: 1.5em;
	}
	.rodape a{
		font-size: 1.5em;
	}
}
/*------------------------------------------------------------------------------- */
/* --------------------------------- | SMALL DEIVES - TABLETS  | -------------------*/
/*------------------------------------------------------------------------------- */
@media screen and (min-width: 960px) {
	.servicos{
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
	}
	.servico{
		width: 48%;
	}
	.newsletter form{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.newsletter input{
		width: 50%;
		padding: 2%;		
		margin-right: 1%;
	}
	.newsletter button{
		width: 20%;
		padding: 2%;
		margin-top: 0;
	}

}
/*------------------------------------------------------------------------------- */
/* --------------------------------- | LARGE DEIVES - WIDE SCREEN  | -------------------*/
/*------------------------------------------------------------------------------- */
@media screen and (min-width: 960px) {
	.banner{
		align-items: center;
		flex-direction: row;
	}
	.banner .title{
		flex: 70;
		text-align: left;
	}
	.banner .title h2{
		font-size: 2.5em;
	}
	.banner .title h3{
		font-size: 2em;
	}
	.banner .buttons{
		flex: 30;
		margin-top: 0;
		flex-direction: column;
	}
	.banner .btn{
		padding: 5%;
	}
	.btn-sobre{
		margin-top: 2%;
	}
	.servico{
		width: 32%;
	}
	.rodape{
		padding: 4%;
	}
	.rodape p{
		margin-top: 2%;
	}

}
